.light {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ecf0f1;
  font-size: 20px;
  color: #2c3e50;
  box-shadow: 0 0 10px 1px rgba(44, 62, 80, 0.3);
  transition: all 1s;
}

.turn-on {
  background-color: #f1c40f;
}

.turn-off {
  background-color: #ecf0f1;
}
